<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
   <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/igt</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>Divya29</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Create1</display-name>
    <servlet-name>Create1</servlet-name>
    <servlet-class>com.Create1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create1</servlet-name>
    <url-pattern>/Create1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit1</display-name>
    <servlet-name>Deposit1</servlet-name>
    <servlet-class>com.Deposit1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit1</servlet-name>
    <url-pattern>/Deposit1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw1</display-name>
    <servlet-name>Withdraw1</servlet-name>
    <servlet-class>com.Withdraw1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw1</servlet-name>
    <url-pattern>/Withdraw1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check1</display-name>
    <servlet-name>Check1</servlet-name>
    <servlet-class>com.Check1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check1</servlet-name>
    <url-pattern>/Check1</url-pattern>
  </servlet-mapping>
</web-app>